*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --color-header: hsl(218, 17%, 62%);
  --color-header2:hsl(275, 18%, 79%);

  font-size: 62.5%;
  --fs-sm: 1.4rem;
  --fs-heading: 4rem;
  --fs-heading-sm: 2rem;

  --ff-title: 'Staatliches';
  --ff-p: 'Palanquin';

  --fc-top: white;
  --fc-body: hsl(274, 84%, 12%);
  --fc-card: hsl(232, 17%, 35%);
}

body{
  background: #EFF1FF;
  min-width: 38.4rem;
}

img{
  width: 100%;
  height: auto;
}


header{
  background: var(--color-header);
  text-align: center;
  padding-bottom: 2.9rem;
}

header img{
  margin: 3.2rem 0;
  max-width: 13.7rem;
}

header h1{
  font-family: var(--ff-title);
  background-color: var(--color-header2);
  font-weight: 400;
  font-size: var(--fs-heading);
  line-height: 3.4rem;

  letter-spacing: 0.05em;

  color: var(--fc-top);

  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

  padding: 8px 0;
}

main{
  max-width: 38rem;
  text-align: center;
  margin: 2rem auto 6rem;

  padding: 0 3.2rem;
}

main p, header p{
  font-family: var(--ff-p);
  font-weight: 400;
  font-size: var(--fs-sm);
  line-height: 2rem;
  
  color: var(--fc-body);
  
  margin-bottom: 3.2rem;
}

.cards{
  display: grid;
  gap: 3.2rem;
}

.card{
  position: relative;
}

.card h2{
  font-family: var(--ff-title);
  font-size: var(--fs-heading-sm);
  font-weight: 400;
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  color: var(--fc-card);

  background: #FEEAFA;
  border-radius: 2rem;
  padding: 0 2.3rem;
  width: fit-content;

  position: absolute;
  top: 1.6rem;
  right: 1.6rem;

  display: inline-flex;
  align-items: center;

  animation: topdown 700ms 200ms backwards;
}

.card img{
  object-fit: cover;
  border-radius: 2rem;

  transition: all 300ms;

  animation: downtop 700ms 100ms backwards;
}

.card img:hover{
  transform: scale(1.1);
  opacity: 0.8;
}

main .cards div:nth-child(1) img, main .cards div:nth-child(3) img,
main .cards div:nth-child(5) img{
  height: 25rem;
}

 main .cards div:nth-child(2) img, main .cards div:nth-child(4) img,
 main .cards div:nth-child(6) img{
  height: 45rem;
}

footer{
  font-family: 'Open Sans';
  font-size: 1.4rem;
  line-height: 2.8rem;
  text-align: center;
  color: var(--fc-card);
  padding: 5rem 0;
}

footer a{
  text-decoration: none;
  color: var(--fc-card);
}

@keyframes downtop {
  0%{
   
    transform: translateY(15px);
  }

  100%{
   
    transform: translateY(0);
  }
}

@keyframes topdown {
  0%{
    opacity: 0;
    transform: translateY(-15px);
  }

  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 700px) {
  footer{
    display: none;
  }

  #logo2{
    display: none;
  }

  header p{
    display: none;
  }
}

@media (min-width: 700px) {
  #logo1{
    display: none;
  }

  main p{
    display: none;
  }

  body{
    max-width: 158rem;
    min-height: 100vh;

    display: grid;
    grid-template-areas:
    'header content'
    'header footer';
  }

  header{
    width: 37.7rem;
    height: 100%;
    padding: 0;

    grid-area: header;
  }

  header p{
    color: white;

    width: 25.7rem;
    margin: 5rem auto;

    line-height: 1.5;
    font-size: 1.5rem;

    grid-area: sidebar;
  }

  main{
    max-width: 92.4rem;
    grid-area: content;

    margin: 6.4rem 9.8rem 5rem;
    padding: 0;
  }

  footer{
    grid-area: footer;
  }

  .cards{
    grid-template-areas:
    "A B C"
    "D B F"
    "D E F";
  }

  .cards .card h2{
    display: none;
  }

  .cards div:nth-child(1){
    grid-area: A;
  }

  .cards div:nth-child(2){
    grid-area: B;
  }

  .cards div:nth-child(3){
    grid-area: C;
  }

  .cards div:nth-child(4){
    grid-area: D;
  }

  .cards div:nth-child(5){
    grid-area: E;
  }

  .cards div:nth-child(6){
    grid-area: F;
  }
  
}
